<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 加载数据库配置信息文件 -->
    <context:property-placeholder location="classpath:db.properties" />
    <!-- 使用默认连接池 -->
    <bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "${jdbc.driver}"/>
        <property name = "url" value = "${jdbc.url}"/>
        <property name = "username" value = "${jdbc.username}"/>
        <property name = "password" value = "${jdbc.password}"/>
    </bean>


    <!--使用 Configuration 方式进行配置-->
    <bean id="mybatisConfig" class="tk.mybatis.mapper.session.Configuration">
        <!-- 配置通用 Mapper，有三种属性注入方式 -->
        <property name="mapperProperties">
            <value>
                notEmpty=true
            </value>
        </property>
    </bean>

    <!-- 让 spring 管理 sqlSessionFactory，利用 mybatis-spring 提供的 FactoryBean 进行整合 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis.xml" />
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.demo.base.component.mapper, com.demo.base.component.mapper2"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="properties">
            <value>
                style=camelhumpAndLowercase
                mappers=com.demo.base.component.base.MyMapper
            </value>
        </property>
    </bean>


    <!--id 生成器，数据中心 id 和机器 id 可以使用配置文件注入-->
    <bean class="com.demo.base.component.util.SnowflakeIdWorker">
        <constructor-arg value="0" />
        <constructor-arg value="0" />
    </bean>
</beans>